<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello,</p>

    <p>Your PDF, <%= @document.title %> is ready.</p>

    <p>Best wishes,<p>
    <p>Zoidberg</p>
  </body>
</html>
