<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center profile-index-header">All Documents</h1>
    </div>
  </div>
</div>

<!-- Template from startbootstrap.com/snippets/thumbnail-gallery -->
<div class="container">
  <div class="row justify-content-center">
    <div class="row text-lg-left col-lg-10">
    <% if @documents.present? %>
      <% @documents.each do |document| %>
          <div class="col-lg-3 col-md-4 col-6 mb-4 text-center"><!-- text-align: center -->
            <%= link_to(document, class: "d-block mb-4 text-dark light-grey-border") do %>
              <img height="200px" src="<%= document.thumbnail_url %>" />
              <h4><%= document.title %></h4>
            <% end %>
            <button class="btn btn-primary">
              <%= link_to "Download", document.download_url %>
            </button>
            <!-- <a href="#"><button class="btn btn-primary">Download</button></a> -->
          </div>
      <% end %>
    <% else %>
      <div class="col-md-12 text-center">
        No documents found.
      </div>
    <% end %>
  </div>
</div>
