<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello,</p>
    <p>Zoidberg couldn't find a file (or files) in:</p>
    <p><%= @windows_path %></p>
    for the document <%= @title %>.
  </body>
</html>