
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li><%= link_to("Create a PDF", new_document_path) %></li>
      <li><%= link_to("See All Documents", documents_path) %></li>
    </ul>
  </div>
